html{
    font-size:62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
} 
.container-hero{
    background-color:#dd6600;
}
.hero{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2rem 0;
}
.customer-support{
    display: flex;
    align-items: center;
    gap:2rem;
}
.customer-support i{
    font-size: 3.3rem 
}

.content-customer-support{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #003f5a;
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: -1PX;
}
.container-logo i{
    font-size: 3rem;

}
.container-user{
    display: flex;
    gap:1rem;
    cursor: pointer;
}

.login-link, .user-name {
    font-size: 1.8rem;
    color: #003f5a;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: bold;
}


.container-user .fa-cart-shopping{
    font-size: 3rem;
    color: #003f5a;
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
}
 
.container-navbar{
    background-color: #f8a02d;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: #003f5a;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}
.menu a:hover{
    color: #fff;
    
}

.container-user a:hover{
    color: #fff;
    
}
.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: rgb(128, 0, 109);
    cursor: pointer;
}
.search-form input::-webkit-search-cancel-button{
    appearance: none;

}
.search-form .btn-search{
    border: none;
    background-color: #003f5a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color: #fff;
  
}

.banner {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-image: url(imagenes/hedes.png);
    background-size: cover;
    padding: 40px 0px;
}
.header-txt{
    flex-basis: 50%;
    text-align: center;
    position: relative;
    left: 490px;
    top: -35px;
}
.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #003f5a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #007a7b;
}


