<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FERRETIPS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estiloheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilocatalogo.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>


</head>
<body>
 <header> 
    <div class="container-hero">
      <div class="container hero"> 
        <div class="customer-support">
            <i class="fa-solid fa-headset"></i>
            <div class="content-customer-support">
                <span class="text">soporte al cliente </span>
                <span class="number">123-123-1231</span>
            </div>
        </div>   
        <div class="container-logo">
            <i class="fa-solid fa-hammer"></i>
            <h1 class="logo"><a href="/">FERRETIPS</a></h1>
        </div>
        <div class="container-user">
        {% if usuario %}
            <span class="user-name">{{ usuario }}</span>
        {% else %}
            <a href="/registro" class="login-link">Iniciar sesión</a>
        {% endif %}
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="content-shopping-cart">
                 <span class="text"> carrito</span>
                 <span class="number" >(0)</span>
            </div>
         </div>
        </div>
     </div>
     <div class="container-navbar">
        <nav class="navbar container">
            <i class="fa-solid fa-bars"></i>
            <ul class="menu">
                <li><a href="{{ url_for('catalogo') }}">Catalogo</a></li>
                <li><a href="#">Tutoriales</a></li>
                <li><a href="#">Facturacion</a></li>
                <li><a href="#">Envios</a></li>
            </ul>


            <form class="search-form" action="/buscar" method="POST">
                <input type="search" name="busqueda" placeholder="Buscar...">
                <button class="btn-search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i> 
                </button>
            </form>

        </nav>
     </div>
 </header>

{% block contenido %}

 {% endblock %}
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3> Contacto</h3>
                <ul>
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li> 
                    <li><a href="#">youtube</a></li>
                    <li><a href="#">pinterest</a></li>
                </ul>

            </div>
        </div>
    </footer>


 
    <script src="https://kit.fontawesome.com/6626d0e05a.js" crossorigin="anonymous"></script>
</body>
</html>