{% extends "base.html" %}

{% block titulo %}
Catálogo
{% endblock %}

<!--{% block estilos %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='estilocatalogo.css') }}">
{% endblock %}-->

{% block contenido %}
<main class="contenedor">
    <aside class="menuizq">
      <h2>Compra por Departamento</h2>
      <ul>
        <li><a href="/herramientas">Herramientas</a></li>
        <li><a href="#">Baños</a></li>
        <li><a href="#">Cocina</a></li>
        <li><a href="#">Decoración y hogar</a></li>
        <li><a href="#">Electrónica y Tecnología</a></li>
        <li><a href="#">Eléctrico</a></li>
        <li><a href="#">Jardín</a></li>
        <li><a href="#">Ferretería</a></li>
        <li><a href="#">Iluminación</a></li>
        <li><a href="#">Línea blanca y Cocinas</a></li>
        <li><a href="#">Materiales de Construcción</a></li>
        <li><a href="#">Muebles</a></li>
        <li><a href="#">Organizadores y Clósets</a></li>
        <li><a href="#">Pinturas</a></li>
        <li><a href="#">Plomería</a></li>
        <li><a href="#">Puertas y Ventanas</a></li>
      </ul>
    </aside>


    <section class="catalogo">
        <div class="producto">
            <img src="static/imagenes/martillo.jpeg" alt="Producto" />
            <h2>Acriton 04 Años Blanco</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346401</p>
            <p class="precio">$958.00</p>
            <button>Añadir al carrito</button>
          </div>
    
          <div class="producto">
            <img src="static/imagenes/foco.png" alt="Producto" />
            <h2>Acriton 08 Años Rojo</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/paleta.jpeg" alt="Producto" />
            <h2>Acriton 08 Años Rojo</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
    
          <div class="producto">
            <img src="static/imagenes/pulidora.jpeg" alt="Producto" />
            <h2>Acriton 08 Años Rojo</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
    
          <div class="producto">
            <img src="static/imagenes/pintura.png" alt="Producto" />
            <h2>Acriton 08 Años Rojo</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
  
          <div class="producto">
              <img src="static/imagenes/martillo.jpeg" alt="Producto" />
              <h2>Acriton 04 Años Blanco</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346401</p>
              <p class="precio">$958.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/foco.png" alt="Producto" />
              <h2>Acriton 08 Años Rojo</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/paleta.jpeg" alt="Producto" />
              <h2>Acriton 08 Años Rojo</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/pulidora.jpeg" alt="Producto" />
              <h2>Acriton 08 Años Rojo</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/pintura.png" alt="Producto" />
              <h2>Acriton 08 Años Rojo</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>

            <div class="producto">
                <img src="static/imagenes/martillo.jpeg" alt="Producto" />
                <h2>Acriton 04 Años Blanco</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346401</p>
                <p class="precio">$958.00</p>
                <button>Añadir al carrito</button>
              </div>
        
              <div class="producto">
                <img src="static/imagenes/foco.png" alt="Producto" />
                <h2>Acriton 08 Años Rojo</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>
              <div class="producto">
                <img src="static/imagenes/paleta.jpeg" alt="Producto" />
                <h2>Acriton 08 Años Rojo</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>
        
              <div class="producto">
                <img src="static/imagenes/pulidora.jpeg" alt="Producto" />
                <h2>Acriton 08 Años Rojo</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>
        
              <div class="producto">
                <img src="static/imagenes/pintura.png" alt="Producto" />
                <h2>Acriton 08 Años Rojo</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>
      
              <div class="producto">
                  <img src="static/imagenes/martillo.jpeg" alt="Producto" />
                  <h2>Acriton 04 Años Blanco</h2>
                  <p class="descripcion">Galón 4 Litros Fester 2346401</p>
                  <p class="precio">$958.00</p>
                  <button>Añadir al carrito</button>
                </div>
          
                <div class="producto">
                  <img src="static/imagenes/foco.png" alt="Producto" />
                  <h2>Acriton 08 Años Rojo</h2>
                  <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                  <p class="precio">$1,052.00</p>
                  <button>Añadir al carrito</button>
                </div>
                <div class="producto">
                  <img src="static/imagenes/paleta.jpeg" alt="Producto" />
                  <h2>Acriton 08 Años Rojo</h2>
                  <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                  <p class="precio">$1,052.00</p>
                  <button>Añadir al carrito</button>
                </div>
          
                <div class="producto">
                  <img src="static/imagenes/pulidora.jpeg" alt="Producto" />
                  <h2>Acriton 08 Años Rojo</h2>
                  <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                  <p class="precio">$1,052.00</p>
                  <button>Añadir al carrito</button>
                </div>
          
                <div class="producto">
                  <img src="static/imagenes/pintura.png" alt="Producto" />
                  <h2>Acriton 08 Años Rojo</h2>
                  <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                  <p class="precio">$1,052.00</p>
                  <button>Añadir al carrito</button>
                </div>

      </section>
  </main>
{% endblock %}













----------------------------
