{% extends "base.html" %}

{% block titulo %}
Catálogo
{% endblock %}

<!--{% block estilos %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='estilocatalogo.css') }}">
{% endblock %}-->

{% block contenido %}
<main class="contenedor">
    <aside class="menuizq">
      <h2>Compra por Departamento</h2>
      <ul>
        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
        <li><a href="{{ url_for('iluminacion') }}">Iluminación</a></li>
        <li><a href="{{ url_for('pinturas') }}">Pinturas</a></li>
        <li><a href="{{ url_for('tlapaleria') }}">tlapaleria</a></li>
        <li><a href="#">Cocina</a></li>
        <li><a href="#">Decoración y hogar</a></li>
        <li><a href="#">Electrónica y Tecnología</a></li>
        <li><a href="#">Eléctrico</a></li>
        <li><a href="#">Jardín</a></li>
        <li><a href="#">Ferretería</a></li>
        <li><a href="#">Línea blanca y Cocinas</a></li>
        <li><a href="#">Materiales de Construcción</a></li>
        <li><a href="#">Muebles</a></li>
        <li><a href="#">Organizadores y Clósets</a></li>
        <li><a href="#">Plomería</a></li>
        <li><a href="#">Puertas y Ventanas</a></li>
      </ul>
    </aside>


 
   <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Foco 100w</span>
                <img src="static/imagenes/foco.png" alt="" class="img-item">
                <span class="precio-item">$70</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">enchufe</span>
                <img src="static/imagenes/enchufe.jpeg" alt="" class="img-item">
                <span class="precio-item">$10</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">Pintura 20L</span>
                <img src="static/imagenes/pintura.png"alt="" class="img-item">
                <span class="precio-item">$180</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">Pintura verde</span>
                <img src="static/imagenes/pintura.png" alt="" class="img-item">
                <span class="precio-item">$170</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
             <div class="item">
                <span class="titulo-item">pintura roja</span>
                <img src="static/imagenes/pintura.png" alt="" class="img-item">
                <span class="precio-item">$130</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
                <div class="item">
                <span class="titulo-item">Pulidora </span>
                <img src="static/imagenes/pulidora.jpeg" alt="" class="img-item">
                <span class="precio-item">$250</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
        </div>

        <div class="carrito">
            <div class="header-carrito">
                <h2>Tu carrito</h2>
            </div>
            
            <div class="carrito-items">
                <!--  
                <div class="carrito-item">
                    <img src="imagenes/foco.png" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Foco</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                      <span class="carrito-item-precio">$70</span>
                    </div> 
                    <span class="btn-eliminar">
                     <i class="fa-solid fa-trash"></i>
                    </span>
                </div>

                <div class="carrito-item">
                    <img src="imagenes/enchufe.jpeg" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">enchufe</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="2" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                      <span class="carrito-item-precio">$10</span>
                    </div> 
                    <span class="btn-eliminar">
                     <i class="fa-solid fa-trash"></i>
                    </span>
                </div>-->
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu total </strong>
                    <span class="carrito-precio-total">$</span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </section>

  </main>
{% endblock %}













----------------------------
