{% extends "base.html" %}

{% block titulo %}
herramientas
{% endblock %}
{% block contenido %}


<main class="contenedor">
<section class="herramientas">
        <div class="producto">
            <img src="static/imagenes/taladro-deWalt.png" alt="Producto" />
            <h2>Taladro deWalt</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346401</p>
            <p class="precio">$958.00</p>
            <button>Añadir al carrito</button>
          </div>
    
          <div class="producto">
            <img src="static/imagenes/taladro.jpg" alt="Producto" />
            <h2>Taladro</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/taladro-Porter.jpg" alt="Producto" />
            <h2>Taladro Porter</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
  
          <div class="producto">
              <img src="static/imagenes/martillo.jpeg" alt="Producto" />
              <h2>Martillo Bellota</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346401</p>
              <p class="precio">$958.00</p>
              <button>Añadir al carrito</button>
            </div>

            <div class="producto">
                <img src="static/imagenes/martillo2.jpg" alt="Producto" />
                <h2>Martillo Truper </h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>

          <div class="producto">
                <img src="static/imagenes/destornillador-electrico.png" alt="Producto" />
                <h2>Destornillador electrico</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
         </div>


            <div class="producto">
              <img src="static/imagenes/atornilladores-black-decker.jpg" alt="Producto" />
              <h2>Destornillador Decker</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/pinza-metz.jpg" alt="Producto" />
              <h2>Pinzas Metz</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/pinzas-urrea.jpg" alt="Producto" />
              <h2>Pinzas Urrea</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/juego-destornilladores.jpg" alt="Producto" />
              <h2>Juego de destornilladores</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346398</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>

  </section>
</main>
{% endblock %}













----------------------------
