{% extends "base.html" %}
{% block titulo %}
iluminacion
{% endblock %}
{% block contenido %}


<main class="contenedor">
<aside class="menuizq">
      <h2>Compra por Departamento</h2>
      <ul>
        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
        <li><a href="{{ url_for('iluminacion') }}">Iluminación</a></li>
        <li><a href="{{ url_for('pinturas') }}">Pinturas</a></li>
        <li><a href="{{ url_for('tlapaleria') }}">tlapaleria</a></li>
        <li><a href="#">Cocina</a></li>
        <li><a href="#">Decoración y hogar</a></li>
        <li><a href="#">Electrónica y Tecnología</a></li>
        <li><a href="#">Eléctrico</a></li>
        <li><a href="#">Jardín</a></li>
        <li><a href="#">Ferretería</a></li>
        <li><a href="#">Línea blanca y Cocinas</a></li>
        <li><a href="#">Materiales de Construcción</a></li>
        <li><a href="#">Muebles</a></li>
        <li><a href="#">Organizadores y Clósets</a></li>
        <li><a href="#">Plomería</a></li>
        <li><a href="#">Puertas y Ventanas</a></li>
      </ul>
    </aside>

<section class="herramientas">
        <div class="producto">
            <img src="static/imagenes/foco.png" alt="Producto" />
            <h2>Taladro deWalt</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346401</p>
            <p class="precio">$58.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/foco_03.jpg" alt="Producto" />
            <h2>Taladro</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$52.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/foco_04.jpg" alt="Producto" />
            <h2>Taladro Porter</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
  
          <div class="producto">
              <img src="static/imagenes/foco_05.jpeg" alt="Producto" />
              <h2>Martillo Bellota</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346401</p>
              <p class="precio">$48.00</p>
              <button>Añadir al carrito</button>
            </div>

            <div class="producto">
                <img src="static/imagenes/lampara_01.jpg" alt="Producto" />
                <h2>Martillo Truper </h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$52.00</p>
                <button>Añadir al carrito</button>
              </div>

          <div class="producto">
                <img src="static/imagenes/lampara_cafe.jpg" alt="Producto" />
                <h2>Destornillador electrico</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$112.00</p>
                <button>Añadir al carrito</button>
         </div>
          <div class="producto">
                <img src="static/imagenes/lampara_techo.jpeg" alt="Producto" />
                <h2>Destornillador electrico</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
         </div>         


  </section>
</main>
{% endblock %}













----------------------------











----------------------------
