<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina</title>
    <link rel= "stylesheet" href="style.css">
     
</head>
<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">FERRETERIA</a>
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="static/imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">inicio</a></li>
                    <li><a href="#">servicio</a></li>
                    <li><a href="#">productos</a></li>
                    <li><a href="#">contacto</a></li>
                </ul>
            </nav>
            <div>
               <ul>
                <li class="submenu">
                    <img src="static/imagenes/car.svg" id="img-carrito" alt=" carrito">
                    <div id="carrito">
                        <table id="lista-carrito">
                            <thead>
                                <tr>
                                    <th>imagen</th>
                                    <th>nombre</th>
                                    <th>precio</th>
                                    <th></th>
                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="btn-2">vaciar carrito</a>
                    </div>
                </li>
               </ul>
            </div>
        </div>
blo

        <div class="header-content container">
           <!-- <div class="header-img">
                <img src="imagenes/martillo.jpeg" alt="">
            </div>-->
            <div class="header-txt">
                <h1>¿Quieres hacerlo<br> <span>tu mismo?</span></h1>
                <p>aprende como hacer trabajos basicos <br>con nuestros tutoriales</p>
                <a href="#" class="btn-1">Ver mas</a>
            </div>
        </div>
    </header>

    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="static/imagenes/pintura.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Pinturas </h3>
                <a href="#" class="btn-2">Ver mas</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="static/imagenes/OIP__4_-removebg-preview.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Electricidad</h3>
                <a href="#" class="btn-2">Ver mas</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="static/imagenes/foco.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3> Iluminacion
                </h3>
                <a href="#" class="btn-2">Ver mas</a>
            </div>
        </div>

    </section>
 
    <main class="products container" id="lista-1">
        <h2> productos en promocion</h2>
        <div class="products-content">
            <div class="products">
                <img src="static/imagenes/enchufe.jpeg" alt="">
                <div class="products-txt">
                    <h3>Elisyum</h3>
                    <p>calidad premioum</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1" >agregar al carrito</a>
                </div>
            </div>

            <div class="products">
                <img src="static/imagenes/zpt.jpeg" alt="">
                <div class="products-txt">
                    <h3>Elisyum</h3>
                    <p>calidad premioum</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="2" >agregar al carrito</a>
                </div>
            </div>

            <div class="products">
                <img src="static/imagenes/martillo.jpeg" alt="">
                <div class="products-txt">
                    <h3>Elisyum</h3>
                    <p>calidad premioum</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="3" >agregar al carrito</a>
                </div>
            </div>

            <div class="products">
                <img src="static/imagenes/enchufe.jpeg" alt="">
                <div class="products-txt">
                    <h3>Elisyum</h3>
                    <p>calidad premioum</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="4" >agregar al carrito</a>
                </div>
            </div>

        </div>

    </main>

    <section class="icons container">
        <div class="icon-1">
            <div class="icon-img">
                <img src="static/imagenes/business_card_credit_credit_card_dollar_money_payment_icon_123246.svg" alt="">
            </div>
            <div class="icon-txt">
                <h3>Pagos 100% seguros</h3>
                <p>Todos tus compras son seguras</p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="static/imagenes/message_105089.svg" alt="">
            </div>
            <div class="icon-txt">
                <h3>¿dudas?</h3>
                <p>Contactanos para resolver tus dudas</p>
            </div>
        </div>
        <div class="icon-1">
            <div class="icon-img">
                <img src="static/imagenes/avion.ico" alt="">
            </div>
            <div class="icon-txt">
                <h3>Envios </h3>
                <p>Envios gratis a todo Mexico</p>
            </div>
        </div>

    </section>

    <section class="blog container">
        <div class="blog-1">
            <img src="static/imagenes/tienda.jpeg" alt="">
            <h3>blog 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusamus, dolorem inventore. Esse beatae fuga quia pariatur 
                voluptates corrupti perferendis aspernatur maxime recusandae 
                consequuntur ad temporibus ex, ratione deleniti ullam sed.
            </p>
        </div>
        <div class="blog-1">
            <img src="static/imagenes/cosaspared.jpg" alt="">
            <h3>blog 2</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusamus, dolorem inventore. Esse beatae fuga quia pariatur 
                voluptates corrupti perferendis aspernatur maxime recusandae 
                consequuntur ad temporibus ex, ratione deleniti ullam sed.
            </p>
        </div>
        <div class="blog-1">
            <img src="static/imagenes/empleado.jpg" alt="">
            <h3>blog 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Accusamus, dolorem inventore. Esse beatae fuga quia pariatur 
                voluptates corrupti perferendis aspernatur maxime recusandae 
                consequuntur ad temporibus ex, ratione deleniti ullam sed.
            </p>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3> loren</h3>
                <ul>
                    <li><a href="#">instagram</a></li>
                    <li><a href="#">facebook</a></li> 
                    <li><a href="#">youtube</a></li>
                    <li><a href="#">pinterest</a></li>
                </ul>

            </div>
        </div>
    </footer>


 

</body>
</html>