{% extends "base.html" %}
{% block titulo %}
pinturas
{% endblock %}
{% block contenido %}

<main class="contenedor">
<aside class="menuizq">
      <h2>Compra por Departamento</h2>
      <ul>
        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
        <li><a href="{{ url_for('iluminacion') }}">Iluminación</a></li>
        <li><a href="{{ url_for('pinturas') }}">Pinturas</a></li>
        <li><a href="{{ url_for('tlapaleria') }}">tlapaleria</a></li>
        <li><a href="#">Cocina</a></li>
        <li><a href="#">Decoración y hogar</a></li>
        <li><a href="#">Electrónica y Tecnología</a></li>
        <li><a href="#">Eléctrico</a></li>
        <li><a href="#">Jardín</a></li>
        <li><a href="#">Ferretería</a></li>
        <li><a href="#">Línea blanca y Cocinas</a></li>
        <li><a href="#">Materiales de Construcción</a></li>
        <li><a href="#">Muebles</a></li>
        <li><a href="#">Organizadores y Clósets</a></li>
        <li><a href="#">Plomería</a></li>
        <li><a href="#">Puertas y Ventanas</a></li>
      </ul>
    </aside>

<section class="herramientas">
            <div class="producto">
                <img src="static/imagenes/pintura.png" alt="Producto" />
                <h2> Pintura Comex Pro 1000 plus </h2>
                <p class="descripcion"> Pintura blanca 20L </p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>

          <div class="producto">
                <img src="static/imagenes/pintura02.png" alt="Producto" />
                <h2>Pintura Vinimex</h2>
                <p class="descripcion">Pintura blanca 3 en 1</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
         </div>


            <div class="producto">
              <img src="static/imagenes/pintura03.png" alt="Producto" />
              <h2>Pintura Vinimex total</h2>
              <p class="descripcion">Pintura Azul 19L </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/pintura04.png" alt="Producto" 
              <h2>Pintura Acqua 100</h2>
              <p class="descripcion">Pintura Aqua 19l</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/pintura05.png" alt="Producto" />
              <h2>Pintura Vinimex total</h2>
              <p class="descripcion">Pintura Vinimex total 4L</p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
      
            <div class="producto">
              <img src="static/imagenes/pintura06.png" alt="Producto" />
              <h2>Pintura Spray Rojo</h2>
              <p class="descripcion">Pintura acrilica en spray color Rojo </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>

            <div class="producto">
              <img src="static/imagenes/brocha_camelus.jpg" alt="Producto" />
              <h2>brocha Camelus</h2>
              <p class="descripcion">Brocha 8'  </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/brocha_genixart.jpg" alt="Producto" />
              <h2>brocha Genixart</h2>
              <p class="descripcion">Brocha 5'  </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/brocha_goni.jpg" alt="Producto" />
              <h2>brocha Goni</h2>
              <p class="descripcion">Brocha 10'  </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/brocha_hdx.jpg" alt="Producto" />
              <h2>Brocha HDX</h2>
              <p class="descripcion">Brocha 10'  </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>
            <div class="producto">
              <img src="static/imagenes/brocha_Truper.jpg" alt="Producto" />
              <h2>Brocha Truper</h2>
              <p class="descripcion">Brocha 15'  </p>
              <p class="precio">$1,052.00</p>
              <button>Añadir al carrito</button>
            </div>


  </section>
</main>
{% endblock %}













----------------------------
