{% extends "base.html" %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block contenido %}

<section class="banner">
    <div class="header-txt">
        <h1>¿Quieres hacerlo<br> <span>tu mismo?</span></h1>
        <p>aprende como hacer trabajos basicos <br>con nuestros tutoriales</p>
        <a href="#" class="btn-1">Ver mas</a>
    </div>

</section>

    
<section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">PROMO! FOCO 80w</span>
                <img src="static/imagenes/foco.png" alt="" class="img-item">
                <span class="precio-item">$30</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">PROMO! ENCHUFE</span>
                <img src="static/imagenes/enchufe.jpeg" alt="" class="img-item">
                <span class="precio-item">$5</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">PROMO! PINTURA 20L</span>
                <img src="static/imagenes/pintura.png"alt="" class="img-item">
                <span class="precio-item">$90</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
              <div class="item">
                <span class="titulo-item">PROMO! PALETA</span>
                <img src="static/imagenes/paleta.jpeg" alt="" class="img-item">
                <span class="precio-item"> $40</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
                <div class="item">
                <span class="titulo-item">PROMO! CIERRA ELECTRICA</span>
               <img src="static/imagenes/cierra.jpeg"  alt="" class="img-item">
                <span class="precio-item">$199</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
             <div class="item">
                <span class="titulo-item">PROMO! PULIDORA ELECTRICA</span>
                <img src="static/imagenes/pulidora.jpeg" alt="" class="img-item">
                <span class="precio-item">$199</span>
                <button class="boton-item">agregar al carrito</button>
            </div>
        </div>

        <div class="carrito">
            <div class="header-carrito">
                <h2>Tu carrito</h2>
            </div>
            
            <div class="carrito-items">
                <!--  
                <div class="carrito-item">
                    <img src="imagenes/foco.png" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Foco</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                      <span class="carrito-item-precio">$70</span>
                    </div> 
                    <span class="btn-eliminar">
                     <i class="fa-solid fa-trash"></i>
                    </span>
                </div>

                <div class="carrito-item">
                    <img src="imagenes/enchufe.jpeg" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">enchufe</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="2" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                      <span class="carrito-item-precio">$10</span>
                    </div> 
                    <span class="btn-eliminar">
                     <i class="fa-solid fa-trash"></i>
                    </span>
                </div>-->
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu total </strong>
                    <span class="carrito-precio-total">$</span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
        <div id="ticket-container" class="ticket">
        <h2>🧾 Ticket de Compra</h2>
        <div id="ticket-content"></div>
        <button onclick="cerrarTicket()">Cerrar</button>
    </div>
    </section>

<section class="ofert container">
    <div class="ofert-1">
        <div class="ofert-img">
            <img src="static/imagenes/pintura.png" alt="">
        </div>
        <div class="ofert-txt">
            <h3>Pinturas</h3>
            <a href="{{ url_for('pinturas') }}" class="btn-2">Ver mas</a>
        </div>
    </div>
    <div class="ofert-1">
        <div class="ofert-img">
            <img src="static/imagenes/taladro-deWalt.png" alt="">
        </div>
        <div class="ofert-txt">
            <h3>Herramientas</h3>
            <a href="{{ url_for('herramientas') }}" class="btn-2">Ver mas</a>
        </div>
    </div>
    <div class="ofert-1">
        <div class="ofert-img">
            <img src="static/imagenes/foco.png" alt="">
        </div>
        <div class="ofert-txt">
            <h3> Iluminacion
            </h3>
            <a href="{{ url_for('iluminacion') }}" class="btn-2">Ver mas</a>
        </div>
    </div>

</section>
<section class="icons container">
    <div class="icon-1">
        <div class="icon-img">
            <img src="static/imagenes/business_card_credit_credit_card_dollar_money_payment_icon_123246.svg" alt="">
        </div>
        <div class="icon-txt">
            <h3>Pagos 100% seguros</h3>
            <p>Todos tus compras son seguras</p>
        </div>
    </div>
    <div class="icon-1">
        <div class="icon-img">
            <img src="static/imagenes/message_105089.svg" alt="">
        </div>
        <div class="icon-txt">
            <h3>¿dudas?</h3>
            <p>Contactanos para resolver tus dudas</p>
        </div>
    </div>
    <div class="icon-1">
        <div class="icon-img">
            <img src="static/imagenes/avion.ico" alt="">
        </div>
        <div class="icon-txt">
            <h3>Envios </h3>
            <p>Envios gratis a todo Mexico</p>
        </div>
    </div>

</section>
<section class="blog container">
    <div class="blog-1">
        <img src="static/imagenes/tienda.jpeg" alt="">
        <h3>Todo lo que necesitas para tu proyecto, en un solo lugar</h3>
        <p>
           En nuestra ferretería encontrarás una amplia variedad de productos
            y materiales para construcción, electricidad, fontanería y más. 
            Contamos con personal capacitado que te ayudará a elegir lo mejor 
            para cada etapa de tu obra. ¡Ven y conoce nuestro surtido!
        </p>
    </div>
    <div class="blog-1">
        <img src="static/imagenes/cosaspared.jpg" alt="">
        <h3>Herramientas de calidad para trabajos profesionales</h3>
        <p>
           Ofrecemos herramientas manuales y eléctricas de las mejores marcas
            para que trabajes con precisión, seguridad y eficiencia. 
           Ya seas profesional o aficionado, en nuestra ferretería 
           encontrarás lo que necesitas para hacer bien el trabajo desde el primer intento.
        </p>
    </div>
    <div class="blog-1">
        <img src="static/imagenes/empleado.jpg" alt="">
        <h3>Atención personalizada y asesoría experta</h3>
        <p>
           Nuestro equipo está listo para ayudarte a encontrar los productos ideales para tus 
           proyectos. Te brindamos un servicio amable, rápido y confiable. ¡Visítanos y vive 
           la experiencia de comprar con confianza en tu ferretería de confianza!


        </p>
    </div>
</section>




{% endblock %}

  <!-- AQUI ESTAN LA SECCION DE ALGUNAS CATEGORIAS, PRODUCTOS EN PROMOCION, INFORMACION Y BLOGS-->