{% extends "base.html" %}
{% block titulo %}
pinturas
{% endblock %}
{% block contenido %}


<main class="contenedor">
<section class="herramientas">
        <div class="producto">
            <img src="static/imagenes/tornillo01.jpg" alt="Producto" />
            <h2>Taladro deWalt</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346401</p>
            <p class="precio">$958.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/tornillo02.jpg" alt="Producto" />
            <h2>Taladro</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
          <div class="producto">
            <img src="static/imagenes/tornillo03.jpg" alt="Producto" />
            <h2>Taladro Porter</h2>
            <p class="descripcion">Galón 4 Litros Fester 2346398</p>
            <p class="precio">$1,052.00</p>
            <button>Añadir al carrito</button>
          </div>
  
          <div class="producto">
              <img src="static/imagenes/tornillo04.jpg" alt="Producto" />
              <h2>Martillo Bellota</h2>
              <p class="descripcion">Galón 4 Litros Fester 2346401</p>
              <p class="precio">$958.00</p>
              <button>Añadir al carrito</button>
            </div>

            <div class="producto">
                <img src="static/imagenes/tornillo05.jpg" alt="Producto" />
                <h2>Martillo Truper </h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
              </div>

          <div class="producto">
                <img src="static/imagenes/tornillo06.jpg" alt="Producto" />
                <h2>Destornillador electrico</h2>
                <p class="descripcion">Galón 4 Litros Fester 2346398</p>
                <p class="precio">$1,052.00</p>
                <button>Añadir al carrito</button>
         </div>


  </section>
</main>
{% endblock %}













----------------------------











----------------------------
